.top{
    font-size: 30px;
    text-align: center;
   margin-top: 2px;
}

.navbar{
    flex: 1;
    text-align: right;
    padding:10px;
    margin-top: 5px;
    margin-right: auto;
    background-color: #ffce99;

}
.title{
    padding:0;
    margin: 10px;
    font-size: 20px;
   
}
.logo{
    margin-left: 650px;
    height: 200px;
    
}
.heading{
    text-align: center; 
    margin-top:30px;
}
.nav-item{

    color: black;
    margin-left: 10px;
}
body{
   background-color: #fff3e6;
   
    padding: 0;
    margin: 0;
}
.text {
    width: 90%;
    color: black;
    position:absolute;
    top:40%;
    left: 50px;
    font-size: 30px;
    text-align: center;
}
.card{
    border: 1px solid black;
    margin: 20px;
    width:400px; 
    padding: 30px 30px;
    border-radius: 10px;
    display: inline-block;

}
.card-img{
    height:64px;
    width: 64px;
}
.card-title{
    font-size: 30px;
    text-align: center;

}
.card-imgs{
     height:200px;
    width: 400px;
}
